#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

/* App.css */
.App {
  padding-top: 56px; /* This ensures the content is not hidden under the navbar */
}

/* JobpilotHeader.css */
.job-sync-header {
  position: fixed; /* Fixes the header at the top */
  top: 55px;
  left: 0;
  width: 100%; /* Ensures full width */
  z-index: 1000; /* Keeps header above other content */
  background-color: #ffffff; /* Ensures background color is set */
}

.logo_only {
  position: absolute; /* Fixes the header at the top */
  top: 55px;
  left: 0;
  width: 100%; /* Ensures full width */
  z-index: 1000; /* Keeps header above other content */
  background-color: #ffffff; /* Ensures background color is set */
}

.input-group {
  width: 70%;
  position: relative;

}

.input-group .form-control{
  border-radius: 0px 10px 10px 0px;
}


.input-group-text {
  position: absolute;
  z-index: 999;
  left: 5px; /* Adjust based on your layout */
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  pointer-events: none; /* Prevent clicks on the icon */
}


.custom-btn {
  font-weight: 600; /* Semi-bold */
  font-size: 0.850rem; /* Slightly smaller font size (14px) */
  padding: 0.5rem 1rem; /* Adjust padding if needed */
}

.seach-input {
  border-left-color: #fff;
}

.form-select:disabled {
  width: 14%;
  border-radius: 10px 0px 0px 10px;
  border-right-color: #fff;
  background-color: #fff;
}

.btn-outline-custom {
  border-color: #71a8e7;
  border-width: 1px;
}
.statistics {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.statistics .border {
  border: 1px solid #ccc;
  width: 23%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.container {
  padding-left: 15px; /* Adjusts padding to avoid header overlap */
  padding-right: 15px;
}

body {
  padding-top: 80px; /* Adjust based on the header height to avoid content overlap */
}

.btn-custom {
  padding: 12px 25px;
  background-color: #007bff;
  border-color: rgb(192, 192, 192);
  color: white;
  font-size: 16px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #007bff;
}

.btn-custom:disabled {
  background-color:#0A65CC; /* Change the background color to gray */
  color: white; /* Change text color to white for contrast */
  opacity: 0.6; /* Optional: Adjust opacity */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.register{
  height: 50px;
  border-radius: 10px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px; /* Smaller width */
  height: 20px; /* Smaller height */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-link {
  color: #9199A3;
}

.custom-link:hover {
  color: #ffffff;
}

.job-container {
  transition: transform 0.3s ease; /* Smooth transition */
}

.job-container:hover {
  transform: scale(1.05); /* Zoom in */
}

.custom-job-container {
  margin-bottom: 30px; /* Adjust this value for desired spacing */
}


.job-posting h1 {
  font-size: 2rem;
  font-weight: bold;
}

.company-name {
  font-size: 1.5rem;
  color: #888;
}

.job-description {
  font-size: 1.1rem;
}

.job-overview h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.job-overview ul {
  list-style-type: none;
  padding-left: 0;
}

.job-overview ul li {
  margin-bottom: 10px;
}

.job-overview button {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.w-100 {
  width: 100%;
}

iframe {
  border-radius: 10px;
}


.custom-container {
  max-width: 2000px;
  margin: 0 auto;
}

/* Footer */
